body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 94, 0);
    margin: 0;
    color: #333;
}


nav {
    background-color: brown;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: darkred;
    border-radius: 5px;
}


.content {
    padding: 40px;
    text-align: center;
}

.content h2 {
    color: brown;
    margin-bottom: 20px;
}

.content p {
    max-width: 700px;
    margin: 15px auto;
    line-height: 1.6;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f7fb;
    margin: 0;
    color: #333;
}


nav {
    background-color: brown;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: darkred;
    border-radius: 5px;
}


.content {
    padding: 40px;
    text-align: center;
}

.content h2 {
    color: brown;
    margin-bottom: 20px;
}

/* Services list */
.services {
    list-style-type: square;
    max-width: 400px;
    margin: auto;
    text-align: center;
    line-height: 1.6;
}
body{ 
    font-family: Arial, sans-serif;
    background-color: rgb(230, 173, 176);   
    margin: 0;
    color: #333;
}

